In [1]:
## Variable Declaration and assignment 

Name = "Trishansh"
age = 19 
Height = 5.5
is_student = True 

# printing the variables 

print("Name = " , Name )
print("age = ", age )
print("height =" , Height )

Name =  Trishansh
age =  19
height = 5.5

In [7]:
## Naming conventions 

## variable names should be descriptive 
## variables are case sensitive 
## variables must start with a letter or underscore and contains letters , numbers and _ underscore 

first_name = "Trishansh"
last_name_ = "Sahane"
name12 = 12

In [8]:
# Invalid Variable names 
# 1abc = 23 # SyntaxError: invalid decimal literal
# @23223 = 23 
# first-name = "Hey"

In [9]:
# Python is dynamically typed - type of variable inferred (determined) at runtime , no need to declare before using them 
Name = "Trishansh" # str
age = 19  # int 
Height = 5.5 # float
is_student = True # bool
print(type(Name))

<class 'str'>

In [10]:
# Type Checking and Type Conversion 

type(age)

int

In [14]:
age = 23 
print(type(age))
new_age = str(age)
print(type(new_age))

<class 'int'>
<class 'str'>

In [18]:
height = 5.5
int(height)
float(int(height))

5.0

In [21]:
name = "Trishansh"
# int(name)
# ValueError: invalid literal for int() with base 10: 'Trishansh'

In [22]:
age = 12 
str(age)

'12'

In [23]:
age = 12.34 
float(int(str(int(age))))

12.0

In [24]:
# Dynamic typing 
# Python allows the type of variables to change as the program executes 
var = 12 
print(var , type(var))

var = 23.34
print(var , type(var))

var = "12"
print(var , type(var))

12 <class 'int'>
23.34 <class 'float'>
12 <class 'str'>

In [25]:
## input - used to take user input ( by default string value )
age = input("What is your age ? ")
print(age , type(age))

23 <class 'str'>

In [26]:
age = int(input("What's your age ? "))
print(age , type(age))

12 <class 'int'>

In [31]:
name = eval(input("Enter name ")) #automatically detects type of data 
print(name , type(name))

TRishansh <class 'str'>

In [32]:
# Simple Calculator 

a = eval(input("Enter first value "))
b = eval(input("Enter Second value "))

sum = a + b
diff = a - b
mul = a * b 
div = a / b 
floor = a // b
mod = a % b 

print("sum = " , sum)
print("difference = " , diff)
print("mul = " , mul )
print("Division = " , div)

sum =  35
difference =  -11
mul =  276
Division =  0.5217391304347826