In [1]:
## Dictionaries - unordered key - value pair , mutable
name = {}
print(name,type(name))

{} <class 'dict'>

In [2]:
name = dict()
print(type(name))

<class 'dict'>

In [4]:
student = {"name":"Trishansh" , "age":19 , "grade" : "O"}
print(student)

{'name': 'Trishansh', 'age': 19, 'grade': 'O'}

In [5]:
flower = {"color":"red" , "name":"Lotus"}
print(flower)

{'color': 'red', 'name': 'Lotus'}

In [6]:
student = {"name":"Trishansh" , "name":19 , "grade" : "O"}
print(student)

{'name': 19, 'grade': 'O'}

In [7]:
flower = {"color":"red" , "color":"Lotus"}
print(flower)

{'color': 'Lotus'}

In [11]:
## Accessing Dictionary elements 
flower = {"color":"red" , "name":"Lotus"}
print(flower["color"])
print(flower["name"])
## print(flower["age"]) ## KeyError: 'age'

red
Lotus

In [12]:
flower["name"]

'Lotus'

In [14]:
## flower["first_name"] -> key error

In [20]:
## Accessing Dictionary elements using get method 
student = {"name":"Trishansh" , "age":19 , "grade" : "O"}
print(student.get("name"))
print(student.get("age"))
print(student.get("grade"))
print(student.get("color")) ## None 
print(student.get("number","Not Available")) ## default value

Trishansh
19
O
None
Not Available

In [23]:
## Modifying dictionary 

student = {"name":"Trishansh" , "age":19 , "grade" : "O"}
print(student)

## update 
student["name"] = "Krish"
student["age"] = 32
student["grade"] = "B"
print(student)

{'name': 'Trishansh', 'age': 19, 'grade': 'O'}
{'name': 'Krish', 'age': 32, 'grade': 'B'}

In [27]:
## Insert 
student["address"] = "RNTH"
print(student)
student["marks"] = 97
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'B', 'address': 'RNTH', 'marks': 97}
{'name': 'Krish', 'age': 32, 'grade': 'B', 'address': 'RNTH', 'marks': 97}

In [28]:
## delete 
del student["address"]

In [29]:
student

{'name': 'Krish', 'age': 32, 'grade': 'B', 'marks': 97}

In [30]:
del student["grade"]
student

{'name': 'Krish', 'age': 32, 'marks': 97}

In [34]:
## Dictionary Methods 
student = {"name":"Trishansh" , "age":19 , "grade" : "O"}
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['Trishansh', 19, 'O'])
dict_items([('name', 'Trishansh'), ('age', 19), ('grade', 'O')])

In [35]:
flower = {"color":"red" , "name":"Lotus"}
keys = flower.keys()
print(keys)
val = flower.values()
print(val)
item = flower.items()
print(item)

dict_keys(['color', 'name'])
dict_values(['red', 'Lotus'])
dict_items([('color', 'red'), ('name', 'Lotus')])

In [45]:
a = [('name', 'Trishansh'), ('age', 19), ('grade', 'O')]
b = [j for i in a for j in i ]
print(b)

['name', 'Trishansh', 'age', 19, 'grade', 'O']

In [42]:
for i in a :
    for j in i :
       print(j,end=" ")
    print()

name Trishansh
age 19
grade O

In [46]:
## shallow copy 
student = {"name":"Trishansh" , "age":19 , "grade" : "O"}
student_copy = student
print(student)
print(student_copy)

{'name': 'Trishansh', 'age': 19, 'grade': 'O'}
{'name': 'Trishansh', 'age': 19, 'grade': 'O'}

In [47]:
student["name"]="Rohan"
print(student)
print(student_copy)

{'name': 'Rohan', 'age': 19, 'grade': 'O'}
{'name': 'Rohan', 'age': 19, 'grade': 'O'}

In [48]:
flower = {"color":"red" , "name":"Lotus"}
flower_copy = flower 
print(flower)
print(flower_copy)

{'color': 'red', 'name': 'Lotus'}
{'color': 'red', 'name': 'Lotus'}

In [49]:
flower["color"] = "pink"
print(flower)
print(flower_copy)

{'color': 'pink', 'name': 'Lotus'}
{'color': 'pink', 'name': 'Lotus'}

In [50]:
## copy() - new memory allocation
student_copy = student.copy()
print(student)
print(student_copy)

{'name': 'Rohan', 'age': 19, 'grade': 'O'}
{'name': 'Rohan', 'age': 19, 'grade': 'O'}

In [51]:
student["name"]="Rohn"
print(student)
print(student_copy)

{'name': 'Rohn', 'age': 19, 'grade': 'O'}
{'name': 'Rohan', 'age': 19, 'grade': 'O'}

In [52]:
copy = flower.copy()
print(flower)
print(copy)

{'color': 'pink', 'name': 'Lotus'}
{'color': 'pink', 'name': 'Lotus'}

In [53]:
flower["color"] ="hot pink"
print(flower)
print(copy)

{'color': 'hot pink', 'name': 'Lotus'}
{'color': 'pink', 'name': 'Lotus'}

In [54]:
## Iterating over dictionary 
student = {"name":"Trishansh" , "age":19 , "grade" : "O"}

## Iterating over keys 
for keys in student.keys():
    print(keys)

name
age
grade

In [55]:
## Iterating over values 
for values in student.values():
    print(values)

Trishansh
19
O

In [56]:
## Iterating over key value pair 
for keys,values in student.items():
    print(f"{keys} : {values}")

name : Trishansh
age : 19
grade : O

In [58]:
flower = {"color":"red" , "name":"Lotus"}
for i in flower.keys():
    print(i)

color
name

In [59]:
for j in flower.values():
    print(j)

red
Lotus

In [62]:
for i,j in flower.items():
    print(i,j)

color red
name Lotus

In [63]:
## Nested Dictionaries 
student = {
    "student1" : {"name":"Trishansh","age":19},
    "student2" :{"name":"krish","age":32}
}
print(student)

{'student1': {'name': 'Trishansh', 'age': 19}, 'student2': {'name': 'krish', 'age': 32}}

In [64]:
print(student["student1"]["name"])
print(student["student2"]["age"])

Trishansh
32

In [65]:
books = {
    "book1" : {"name" : "C++" , "pages" : 200},
    "book2" : {"name" :"java" , "pages" : 300}
}
books

{'book1': {'name': 'C++', 'pages': 200},
 'book2': {'name': 'java', 'pages': 300}}

In [66]:
books["book1"]["pages"]

200

In [67]:
books["book2"]["name"]

'java'

In [72]:
for keys,values in books.items():
    for i,j in values.items():
        print(keys,i,j)

book1 name C++
book1 pages 200
book2 name java
book2 pages 300

In [74]:
student = {
    "student1" : {"name":"Trishansh","age":19},
    "student2" :{"name":"krish","age":32}
}
for student_id , student_info in student.items():
    print(f"{student_id} : {student_info}")
    for keys,values in student_info.items():
        print(f"{keys} : {values}")

student1 : {'name': 'Trishansh', 'age': 19}
name : Trishansh
age : 19
student2 : {'name': 'krish', 'age': 32}
name : krish
age : 32

In [76]:
## Dictionary Comprehension 
num = [i for i in range(6)]
print(num)
num1 = {x : x**2 for x in range(6)}
print(num1)

[0, 1, 2, 3, 4, 5]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [77]:
even = {i : i for i in range(11) if i%2==0}
even

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8, 10: 10}

In [78]:
div = { i : i**2 for i in range(51) if i%5==0}
print(div)

{0: 0, 5: 25, 10: 100, 15: 225, 20: 400, 25: 625, 30: 900, 35: 1225, 40: 1600, 45: 2025, 50: 2500}

In [82]:
## count number of frequency of an element using dictionary 

numbers = [1,2,2,3,3,3]
frequency = {}
for i in numbers :
    if i not in frequency :
        frequency[i] = 1 
    else :
        frequency[i] += 1
print(frequency)

{1: 1, 2: 2, 3: 3}

In [84]:
## Merge 2 dictionaries 
dict1 = {"a":1 , "b" :2}
dict2 = {"c":3 , "d":4}
merged_dict = {**dict1,**dict2}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [85]:
dict1 = {"a":1 , "b" :2}
dict2 = {"b":3 , "c":4}
merge = {**dict2,**dict1}
print(merge)

{'b': 2, 'c': 4, 'a': 1}