In [1]:
## List - Ordered , mutable ( can be changed ) collection 

lst = []
print(type(lst))

<class 'list'>

In [3]:
list = [ 1 , 3, 4 , 6 ,7 ]
print(list , type(list))

[1, 3, 4, 6, 7] <class 'list'>

In [4]:
mix = [12 , "Hello" , True , 34.44]
print(mix)

[12, 'Hello', True, 34.44]

In [5]:
names = ["Trishansh" , "Krish" , "Naik"]
print(names)

['Trishansh', 'Krish', 'Naik']

In [6]:
## Accessing elements of list 
fruits = ["apple" , "banana" , "cherry" , "guava"]
print(fruits[0])

apple

In [7]:
print(fruits[1])

banana

In [8]:
print(fruits[3])

guava

In [9]:
print(fruits[-1])

guava

In [10]:
print(fruits[-4])

apple

In [11]:
fruits = ["apple" , "banana" , "cherry" , "guava"]
print(fruits[0:])

['apple', 'banana', 'cherry', 'guava']

In [12]:
print(fruits[1:3])

['banana', 'cherry']

In [13]:
print(fruits[:])

['apple', 'banana', 'cherry', 'guava']

In [14]:
print(fruits[::-1])

['guava', 'cherry', 'banana', 'apple']

In [15]:
print(fruits[::2])

['apple', 'cherry']

In [16]:
print(fruits[-1:])

['guava']

In [18]:
## Modifying list
fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits[0] = "kiwi"
fruits

['kiwi', 'banana', 'cherry', 'guava']

In [19]:
fruits[2] = "apple"
fruits

['kiwi', 'banana', 'apple', 'guava']

In [20]:
fruits[1:]="watermelon"
fruits

['kiwi', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [22]:
fruits[:] = "cherry"
fruits

['c', 'h', 'e', 'r', 'r', 'y']

In [23]:
## List Methods 

## append - adds element to the end 

fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits.append("kiwi")
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi']

In [24]:
fruits.append("strawberry")
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'strawberry']

In [25]:
## insert - adds element at specified index 
fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits.insert(1,"watermelon")
fruits

['apple', 'watermelon', 'banana', 'cherry', 'guava']

In [26]:
fruits.insert(4,"kiwi")
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava']

In [29]:
## remove - removes element from list ( first  occurance )
fruits.remove("cherry")
fruits

['apple', 'watermelon', 'kiwi', 'guava']

In [30]:
fruits.remove("apple")
fruits

['watermelon', 'kiwi', 'guava']

In [31]:
## pop - removes and returns the last element 
fruits = ["apple" , "banana" , "cherry" , "guava"]
popped = fruits.pop()
print(popped)
print(fruits)

guava
['apple', 'banana', 'cherry']

In [35]:
fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits.pop()
print(fruits)

['apple', 'banana', 'cherry']

In [36]:
## index - returns index of an element
fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits.index("banana")

1

In [37]:
fruits.index("guava")

3

In [39]:
## count - returns count of an element 
fruits = ["apple" , "banana" ,"apple" , "apple", "cherry" , "guava"]
fruits.count("apple")

3

In [40]:
lst = [2,3,4,2,3,2]
lst.count(2)

3

In [41]:
## sort - sorts list in ascending order
fruits = ["watermelon","kiwi","apple" , "banana" , "cherry" , "guava"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon']

In [45]:
lst = [12,4,72,34,1,5]
lst.sort()
print(lst)

[1, 4, 5, 12, 34, 72]

In [47]:
## reverse - reverses the list 
fruits = ["apple" , "banana" , "cherry" , "guava"]
fruits.reverse()
fruits

['guava', 'cherry', 'banana', 'apple']

In [49]:
## clear - empty the list ( sprite clear hai )
fruits.clear()
fruits

[]

In [50]:
## Slicing list 
list = [1,2,3,4,5,6,7]
print(list[:])

[1, 2, 3, 4, 5, 6, 7]

In [51]:
print(list[3:])

[4, 5, 6, 7]

In [52]:
print(list[2:6])

[3, 4, 5, 6]

In [53]:
print(list[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [54]:
print(list[::2])

[1, 3, 5, 7]

In [57]:
print(list[::-2])

[7, 5, 3, 1]

In [58]:
## Iterate over list
fruits = ["apple" , "banana" , "cherry" , "guava"]
for i in fruits:
    print(i)

apple
banana
cherry
guava

In [59]:
for num in list:
    print(num)

1
2
3
4
5
6
7

In [61]:
## Iterating with index 
for index,fruit in enumerate(fruits):
    print(index,fruits)

0 ['apple', 'banana', 'cherry', 'guava']
1 ['apple', 'banana', 'cherry', 'guava']
2 ['apple', 'banana', 'cherry', 'guava']
3 ['apple', 'banana', 'cherry', 'guava']

In [62]:
for index,num in enumerate(list):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [67]:
names = ["Sahane" , "Krish"  , "hello"]
for index,name in enumerate(names):
    print(index,name)

0 Sahane
1 Krish
2 hello

In [68]:
## List comprehension 

## basic - [ expression for item in iterable ]
## with conditional logic - [ expression for item in iterable if condition]

In [70]:
list = []
for i in range(10):
    list.append(i**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
[i**3 for i in range(6)]

[0, 1, 8, 27, 64, 125]

In [83]:
square = [i**2 for i in range(1,6)]
square

[1, 4, 9, 16, 25]

In [84]:
lst = []
for i in range(11):
    if i % 2 != 0 :
        lst.append(i)
print(lst)

[1, 3, 5, 7, 9]

In [85]:
even = [i for i in range(1,11) if i%2==0]
odd = [x for x in range(1,11) if x%2!=0]
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [86]:
## Nested list
## [ expression for item in iterable1 for item in iterable2]

lst1 = [1,2,3]
lst2 =["a","b"]
for i in lst1:
    for j in lst2:
        print(i,j)

1 a
1 b
2 a
2 b
3 a
3 b

In [87]:
[ [i,j] for i in lst1 for j in lst2]

[[1, 'a'], [1, 'b'], [2, 'a'], [2, 'b'], [3, 'a'], [3, 'b']]

In [90]:
[[i,j] for i in lst2 for j in lst1]

[['a', 1], ['a', 2], ['a', 3], ['b', 1], ['b', 2], ['b', 3]]

In [91]:
fruits = ["apple" , "banana" , "cherry" , "guava"]
[len(i) for i in fruits]

[5, 6, 6, 5]

In [1]:
list = [1 ,2 , 3, 4 , 5]
print(list,type(list))

[1, 2, 3, 4, 5] <class 'list'>