In [1]:
## Sets - unordered and duplicates not allowed 
set = {1,2,3,4}
print(set , type(set))

{1, 2, 3, 4} <class 'set'>

In [12]:
set = {1,2,3,2,3}
print(set)

{1, 2, 3}

In [13]:
set = { 1,2,3,4,5,6,5,4,2,3,1}
print(set)

{1, 2, 3, 4, 5, 6}

In [14]:
## add and removing elements 
set = { 1 ,2 ,3,4,5}
set.add(10)
set

{1, 2, 3, 4, 5, 10}

In [16]:
set.add(11)
set

{1, 2, 3, 4, 5, 10, 11}

In [17]:
set.remove(4)
set

{1, 2, 3, 5, 10, 11}

In [18]:
set.remove(3)
set

{1, 2, 5, 10, 11}

In [19]:
# set.remove(12)
# KeyError: 12

KeyError: 12

In [20]:
set.discard(12) ## No error
set

{1, 2, 5, 10, 11}

In [21]:
set.discard(5)
set

{1, 2, 10, 11}

In [23]:
## pop - fifo removes , returns an element from set 
set = { 1 ,2,3 ,4,5}
set.pop()
set

{2, 3, 4, 5}

In [24]:
set.pop()

2

In [25]:
set.pop()

3

In [26]:
set.clear()

In [27]:
set

set()

In [28]:
## Set membership test 
set = {1,2,3,4,5}
print(3 in set)
print(4 not in set)
print(10 in set)
print(3 not in set )

True
False
False
False

In [29]:
## mathematical operations 

## Union 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
un = set1.union(set2)
print(un)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
set3 = {1,2,3}
set4 = {2,3,4}
un1 = set3.union(set4)
print(un1)

{1, 2, 3, 4}

In [31]:
## Intersection - common elements 
inter = set1.intersection(set2)
print(inter)

{4, 5, 6}

In [32]:
inter = set3.intersection(set4)
print(inter)

{2, 3}

In [33]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [35]:
## Set difference 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
diff = set1.difference(set2)
print(diff)

{1, 2, 3}

In [36]:
set2.difference(set1)

{7, 8, 9}

In [37]:
set1.difference_update(set2)
set1

{1, 2, 3}

In [38]:
## Symmetric difference - remove common elements 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [39]:
set3 = {1,2,3}
set4 = {2,3,4}
set3.symmetric_difference(set4)

{1, 4}

In [41]:
set1.symmetric_difference_update(set2)
set1

{1, 2, 3, 4, 5, 6}

In [42]:
## Set methods 
## issubset 
set1 = {1,2,3}
set2 = {4,5,6}
set1.issubset(set2)

False

In [43]:
set1.issuperset(set2)

False

In [46]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set1.issuperset(set2)

True

In [47]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}
set1.issubset(set2)

True

In [54]:
## Count unique elements in a test

text = "Trishansh is a college Student , 19 years old student"
split = text.split()
split
new = {i for i in split}
print(new)
print(len(new))

{'19', 'student', 'years', 'is', 'old', 'Student', ',', 'a', 'Trishansh', 'college'}
10