In [2]:
## 1 
[x for x in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
lst = list(range(1,21))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
##2 
lst = list(range(1,21))
print(lst[0])
print(lst[len(lst) // 2])
print(lst[-1])

1
11
20

In [9]:
## 3 
lst = list(range(1,21))
print(lst[:6])
print(lst[-5:])
print(lst[5:16])

[1, 2, 3, 4, 5, 6]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [10]:
## 4 
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
## 5 
lst = list(range(1,21))
[i for i in lst if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
## 7 
lst = [ 
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(lst[1][2])
print(lst[1][0])
print(lst[2][1])
print(lst[0][2])

6
4
8
3

In [16]:
lst = [ 
    {"name":"Trish" , "Score":12},
    {"name":"Krish" , "Score":19}
]
lst

[{'name': 'Trish', 'Score': 12}, {'name': 'Krish', 'Score': 19}]

In [18]:
lst = list(range(1,11))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
lst.remove(3)
lst.remove(5)
lst.remove(7)
lst.insert(5,99)
lst

[1, 2, 4, 6, 8, 99, 9, 10]

In [26]:
lst1 = [1,2,3]
lst2 = ['A',"b"]
LST3 = list(zip(lst1,lst2))
LST3

[(1, 'A'), (2, 'b')]

In [32]:
def rev(lst):
    return lst[::-1]
b = [23,34,54]
a = rev(b)
print(a)

[54, 34, 23]

In [33]:
lst1 = [1,2,3]
lst2 = [2,3,4]
inter = [x for x in lst1 if x in lst2]
inter

[2, 3]