In [1]:
## Tuples - ordered and immutable 
tup = ()
print(tup,type(tup))

() <class 'tuple'>

In [2]:
lst = list()
print(lst)
tup = tuple()
print(tup)

[]
()

In [7]:
lst = list([2,3,4])
print(lst)
tup = tuple((1,2,3))
print(tup)

[2, 3, 4]
(1, 2, 3)

In [8]:
lst1 = list([2,4,5,6,7])
tup =tuple((1,2,3,4,5))
print(lst1 , tup)

[2, 4, 5, 6, 7] (1, 2, 3, 4, 5)

In [9]:
## Type conversion 
a = list((1,2,3))
a

[1, 2, 3]

In [10]:
tuple([2,3,4])

(2, 3, 4)

In [11]:
mixed = (1, "Hello" , True , 34.45)
mixed

(1, 'Hello', True, 34.45)

In [12]:
a = tuple((2,"Hello" , True))
print(a)

(2, 'Hello', True)

In [13]:
## Accessing tuple 
mixed = (1, "Hello" , True , 34.45)
mixed[1]

'Hello'

In [14]:
mixed[-1]

34.45

In [15]:
mixed[:3]

(1, 'Hello', True)

In [16]:
mixed[::-1]

(34.45, True, 'Hello', 1)

In [17]:
mixed[-3:]

('Hello', True, 34.45)

In [18]:
mixed[::2]

(1, True)

In [21]:
## Tuple Operations 
tup1 = (1,2,3,4,5)
tup2 = ("Hello" , "a" , "b" , 23,45)
tup3 = tup1 + tup2 ## concatenation 
tup3

(1, 2, 3, 4, 5, 'Hello', 'a', 'b', 23, 45)

In [22]:
tup1 * 3 ## repeatation

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [26]:
tup2 * 2

('Hello', 'a', 'b', 23, 45, 'Hello', 'a', 'b', 23, 45)

In [28]:
## immutability 
lst = [12,23,24]
lst[0] = 15

In [30]:
tup = (1,2,3)
## tup[0] =23
## TypeError: 'tuple' object does not support item assignment

In [32]:
## tup[1] = "krish"

In [33]:
## Tuple methods 

tup = (1,2,3,2,1,2,3,2,4)
tup.count(2)

4

In [34]:
tup.count(1)

2

In [35]:
tup.count(3)

2

In [36]:
tup.count(4)

1

In [37]:
tup.index(2)

1

In [38]:
tup.index(4)

8

In [40]:
print(tup.count(2))
print(tup.index(3))

4
2

In [42]:
## Packing and Unpacking Tuples 

## packing 
packed =  1 , "Hello" , True 
print(packed)
print(type(packed))

(1, 'Hello', True)
<class 'tuple'>

In [43]:
pack = 1 , "Hey" , True , False , 34.23
print(pack , type(pack))

(1, 'Hey', True, False, 34.23) <class 'tuple'>

In [44]:
## unpacking tuples 
a , b , c = (1,2,3)
print(a , b , c)

1 2 3

In [45]:
num1 , num2 , num3 = (123 , 456, 789)
print(num1)
print(num2)
print(num3)

123
456
789

In [46]:
## unpacking tuple with * 
tup = (1,2,3,4,5)
first , *middle , last = tup
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [47]:
tup1 = ("Hello" , 1,3 ,5 ,6 ,2 , "Bye" )
a , *b , c = tup1
print(a , b , c)

Hello [1, 3, 5, 6, 2] Bye

In [51]:
## Nested list and Tuple 

lst = [["hello" , "a"] , [1,2,3,4] , [True, False]]
print(lst[0])
print(lst[1][2])
print(lst[2])
print(lst[1][-3:])

['hello', 'a']
3
[True, False]
[2, 3, 4]

In [52]:
lst = [[1 ,2,3] , (True , False )]
lst

[[1, 2, 3], (True, False)]

In [57]:
tup = ((1,2,3), ("Hell", "well" ) , (34.45,45.34))
print(tup[0])
print(tup[1][1])
print(tup[2])
print(tup[0][::-1])

(1, 2, 3)
well
(34.45, 45.34)
(3, 2, 1)

In [58]:
## iterating tuple

tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [59]:
tup = ((1,2,3), ("Hell", "well" ) , (34.45,45.34))
for item in tup:
    print(item)

(1, 2, 3)
('Hell', 'well')
(34.45, 45.34)

In [62]:
tup = ((1,2,3), ("Hell", "well" ) , (34.45,45.34))

for sub_tuple in tup:
    for item in sub_tuple:
        print(item , end = " ")
    print()

1 2 3
Hell well
34.45 45.34

In [63]:
lst = [[1,2,3],[True]]
for sub_list in lst :
    for item in sub_list:
        print(item,end=" ")
    print()

1 2 3
True