## Handling Imbalance(Biased) Dataset

## Two techniques :
## 1 - Up Sampling 
## 2 - Down Sampling

In [1]:
import numpy as np
import pandas as pd 

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9 
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
## Creating my data-frame with Imbalance dataset
class_0 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature_2": np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0] * n_class_0 ## 900 0's are created 
})
class_1 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0,scale=1,size=n_class_1),
    "feature_2": np.random.normal(loc=0,scale=1,size=n_class_1),
    "target":[1] * n_class_1
})

In [4]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [5]:
df.head(),df.tail()

(   feature_1  feature_2  target
 0  -1.085631   0.551302       0
 1   0.997345   0.419589       0
 2   0.282978   1.815652       0
 3  -1.506295  -0.252750       0
 4  -0.578600  -0.292004       0,
      feature_1  feature_2  target
 995  -0.623629   0.845701       1
 996   0.239810  -1.119923       1
 997  -0.868240  -0.359297       1
 998   0.902006  -1.609695       1
 999   0.697490   0.013570       1)

In [6]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [7]:
## Up sampling 
df_minority=df[df["target"]==1]
df_majority=df[df['target']==0]

ModuleNotFoundError: No module named 'sklearn'