In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('test.db')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute(''' 
Create table employees(
               id Integer Primary Key ,
               name Text Not Null , 
               age Integer ,
               department Text
               )''')

connection.commit()

In [5]:
employee_data = [
    ('A',20,'CS'),
    ('B',13,'ICS'),
    ('C',45,'CS'),
    ('D',23,'IT'),
    ('E',30,'CS'),    
]

cursor.executemany(''' 
                   Insert Into employees(name,age,department) 
                   Values(?,?,?)''', employee_data)

connection.commit()

In [7]:
cursor.execute('''
Select * From employees Where department = 'CS' ''')

rows = cursor.fetchall()

for i in rows : 
    print(i)

(1, 'A', 20, 'CS')
(3, 'C', 45, 'CS')
(5, 'E', 30, 'CS')

In [8]:
cursor.execute(''' 
Update employees Set department = 'IT' Where id = 1 ''')

connection.commit()

In [9]:
cursor.execute('''
Select * From employees  ''')

rows = cursor.fetchall()

for i in rows : 
    print(i)

(1, 'A', 20, 'IT')
(2, 'B', 13, 'ICS')
(3, 'C', 45, 'CS')
(4, 'D', 23, 'IT')
(5, 'E', 30, 'CS')

In [10]:
cursor.execute('''
               Delete From employees 
               Where id = 1 ''')
connection.commit()

In [11]:
cursor.execute('''
Select * From employees  ''')

rows = cursor.fetchall()

for i in rows : 
    print(i)

(2, 'B', 13, 'ICS')
(3, 'C', 45, 'CS')
(4, 'D', 23, 'IT')
(5, 'E', 30, 'CS')

In [12]:
connection.close()