In [1]:
## SQL is a complete server 
## SQLite is server-less

In [2]:
import sqlite3

In [3]:
## Connect to an SQLite database 
connection = sqlite3.connect("example.db")
connection ## local database

In [4]:
connection_copy = sqlite3.connect("trishansh.db")
connection_copy

In [7]:
## Creating the cursor to perform CRUD operations 
cursor = connection.cursor()
cursor

In [9]:
## Create Table 
cursor.execute('''
Create Table If not exists employee(
            id Int Primary Key,
            name Varchar Not Null,
            age Int ,
            Department Varchar ) 
''')

## commit the changes 
connection.commit()

In [10]:
cursor.execute('''
Select * from employee 
''')

In [11]:
## insert data in sqlite table 
cursor.execute('''
   Insert Into employee values(101,'Krish',33,'Data_Science')
''')

cursor.execute('''
   Insert Into employee(name , age , department )
               Values('Trishansh',20,'AI-DS')
''')

cursor.execute('''
   Insert Into employee(name,age,department)
               Values('Vishal',23,'Cloud')
               ''')

## commit changes 
connection.commit()

In [14]:
## Querying the data from table 
cursor.execute('''
Select * From employee
''')

## to fetch all the records
rows = cursor.fetchall()

## print the rows/records
for row in rows:
    print(row)

(101, 'Krish', 33, 'Data_Science')
(None, 'Trishansh', 20, 'AI-DS')
(None, 'Vishal', 23, 'Cloud')

In [17]:
## Complete program 
cursor.execute('''
Create Table student(
               Stud_id Int Primary key ,
               Stud_name Text Not Null)
               ''')

connection.commit()

In [23]:
## values Insertion 
cursor.execute('''
Insert Into student values(1,'Abhay')
               ''')
cursor.execute('''
Insert Into student values(2,'Atharva')
               ''')
cursor.execute('''
Insert Into student values(3,'Rahul')
               ''')

connection.commit()

In [24]:
## select query 
cursor.execute('''
Select Stud_name From student ''')

records = cursor.fetchall()

for record in records :
    print(record)

('Abhay',)
('Atharva',)
('Abhay',)
('Atharva',)
('Rahul',)

In [25]:
## Update data in table 
cursor.execute('''
Update employee 
Set department = 'CS'
Where id = 101 ''')

connection.commit()

In [26]:
cursor.execute('''
Select * From employee''')

rows = cursor.fetchall()

for i in rows :
    print(i)

(101, 'Krish', 33, 'CS')
(None, 'Trishansh', 20, 'AI-DS')
(None, 'Vishal', 23, 'Cloud')

In [27]:
## Delete the data from Table 
cursor.execute('''
Delete From employee 
               Where name = 'Vishal'
               ''')
connection.commit()

In [28]:
cursor.execute('''
Select * From employee''')

rows = cursor.fetchall()

for i in rows :
    print(i)

(101, 'Krish', 33, 'CS')
(None, 'Trishansh', 20, 'AI-DS')

In [29]:
## Working with sales data 

## Creating database 
connection = sqlite3.connect("sales.db")
cursor = connection.cursor()

In [31]:
## Create Table for sales data 
cursor.execute('''
Create Table if not exists sales (
    id Integer primary Key ,
    date Text NOT NULL , 
    product Text NOT NULL , 
    sales Integer ,
    region Text )''')

## Insert data into sales table 
sales_data = [  ## for multiple insertion  ( Bulk Insertion )
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',101,'South'),
    ('2023-01-03','Product3',102,'East'),
    ('2023-01-04','Product4',103,'South'),
    ('2023-01-05','Product5',104,'West'),
]

cursor.executemany(''' 
Insert Into sales(date,product,sales,region)
                   Values(?,?,?,?)''',sales_data   ## ? represents columns 
)

connection.commit()

In [32]:
cursor.execute(''' 
             Select * From Sales  ''')
rows = cursor.fetchall()
for i in rows :
    print(i)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 101, 'South')
(3, '2023-01-03', 'Product3', 102, 'East')
(4, '2023-01-04', 'Product4', 103, 'South')
(5, '2023-01-05', 'Product5', 104, 'West')

In [33]:
## Close the connection 
connection.close()

In [36]:
# cursor.execute(''' 
#              Select * From Sales  ''')
# rows = cursor.fetchall()
# for i in rows :
#     print(i)

# ERROR : Closed Connection