In [2]:
lst = list()
numbers = [1,2,3,4,5]

In [3]:
list(map(lambda x : x**2 ,numbers))

[1, 4, 9, 16, 25]

In [1]:
## map() - it applies function to all the values in the input list 
## map(function,iterable)

def square(x):
    return x**2
square(10)

100

In [3]:
lst = [1,2,3,4,5]
list(map(square,lst))

[1, 4, 9, 16, 25]

In [5]:
##lambda function with map()
list(map(lambda x : x**2 ,lst))

[1, 4, 9, 16, 25]

In [7]:
## multiple iterables 
l1 = [1,2,3]
l2 = [3,4,5]
add = list(map(lambda x,y : x + y , l1 , l2))
print(add)

[4, 6, 8]

In [8]:
tup1 = (11,12,13)
tup2 = (56,54,45)
div = list(map(lambda x,y:x/y ,tup1,tup2))
print(div)

[0.19642857142857142, 0.2222222222222222, 0.28888888888888886]

In [9]:
## conversion of string into integer
str = ["1","2","3"]
list(map(int,str))

[1, 2, 3]

In [12]:
type(map)

type

In [14]:
str1 = "Hello World"
list(map(tuple,str1))

[('H',),
 ('e',),
 ('l',),
 ('l',),
 ('o',),
 (' ',),
 ('W',),
 ('o',),
 ('r',),
 ('l',),
 ('d',)]

In [26]:
def fun(person):
    return person["name"] , person["age"]

person = [
    {"name" : "Krish" , "age" : 32},
    {"name" : "Trishansh" , "age" : 19}
]

list(map(fun,person))

[('Krish', 32), ('Trishansh', 19)]

In [27]:
str1 = ["low","high"]
list(map(str.upper,str1))

AttributeError: 'list' object has no attribute 'upper'